<section>
  <figure>
    <strong>600</strong>
    <caption>Testeurs</caption>
  </figure>
  <figure>
    <strong>1200+</strong>
    <caption>Abonnés</caption>
  </figure>
</section>

<style>
  section {
    display: flex;
    gap: 56px;
    justify-content: center;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    opacity: 0.6;
  }

  strong {
    font-size: 8rem;
    font-family: "Numeric";
    color: #00aa83;
  }

  @media (prefers-color-scheme: dark) {
    strong {
      color: #00ffcc;
    }
  }
</style>
