---
import { Image } from "astro:assets";
import syspadImage from "../../images/prochains-trains/syspad.png";
import panamImage from "../../images/prochains-trains/panam.png";
import rerScreenImage from "../../images/prochains-trains/rer.png";
---

<section class="header">
  <div
    class="elements"
    data-scroll
    data-scroll-from-height-vh="0"
    data-scroll-to-height-vh="200"
  >
    <h1>Écrans d'informations<br />voyageur</h1>
    <div class="merged">
      <video muted src="https://cdn1.arno.cl/2025/03/syspad.webm"></video>
      <Image class="syspad" src={syspadImage} alt="" />
    </div>
    <Image src={panamImage} alt="" class="panam" />
    <Image src={rerScreenImage} alt="" class="rerScreen" />
  </div>
  <div class="safeArea"></div>
  <div style="height: 400vh"></div>
</section>

<script>
  const video = document.querySelector("video");
  const progressRange = [100, window.innerHeight * 2];

  window.addEventListener("scroll", (e) => {
    if (!video) return;
    const progress = window.scrollY / progressRange[1];
    video.currentTime = video.duration * progress;
  });
</script>

<style>
  .header {
    --small-screens-scroll-height: 0vh;
    --centered-translateY: calc(50vh - 12vw);
  }

  .elements {
    position: relative;
    height: 250vh;
    background-color: #f3edeb;
  }

  h1 {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: max-content;
    opacity: calc(0.8 - var(--progress) * 8);
  }

  .merged {
    /* overflow-x: hidden; */
    position: sticky;
    height: calc(30vw);
    top: 0;
    transform-origin: bottom;
    transform: translateY(var(--centered-translateY))
      scale(min(1, calc(1.4 - var(--progress) * 0.94)));
  }

  .safeArea {
    width: 100vw;
    height: var(--centered-translateY);
    /* background-color: red; */
    background: linear-gradient(to bottom, #f3edeb, transparent);
  }

  video {
    width: 100vw;
    height: auto;
    opacity: calc(var(--progress) * 2 - 0.4);
  }

  .syspad {
    display: block;
    width: 100vw;
    height: auto;
    transform: translateY(-47vw) scale(1.135);
    opacity: calc(var(--progress) * 4 - 1.6);
  }

  .panam,
  .rerScreen {
    height: 25vw;
    width: auto;
    position: absolute;
    bottom: 0;
    opacity: calc(var(--progress) * 10 - 9);
  }

  .panam {
    left: 0;
    transform: translateY(calc(var(--centered-translateY) + 10%))
      translateX(-18vw);
  }

  .rerScreen {
    right: 0;
    transform: translateY(calc(var(--centered-translateY) + 10%))
      translateX(8vw);
  }
</style>
