---
interface Props {
  height?: "screen" | "fitContent";
}

const { height = "screen" } = Astro.props;
---

<section class:list={height}>
  <slot name="leftFrame" />
  <div class="text">
    <slot />
  </div>
  <slot name="rightFrame" />
</section>

<style>
  section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10vw;
  }

  .screen {
    min-height: 100vh;
  }

  @media (max-width: 900px) {
    section {
      flex-direction: column;
    }
  }
</style>
