---
interface Props {
  height?: "screen" | "fitContent";
  placement?: "frameFirst" | "textFirst" | "iconOnTop";
}

const { height = "screen", placement = "textFirst" } = Astro.props;
---

<section class:list={[height, placement]}>
  <div class="text">
    <slot />
  </div>
  <slot name="frame" />
</section>

<style>
  section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10vw;
    justify-content: start;
  }

  .text {
    width: 100%;
  }

  .frameFirst,
  .iconOnTop {
    flex-direction: row-reverse;
  }

  .iconOnTop {
    align-items: start;
  }

  .iconOnTop .text {
    padding-top: 6vh;
  }

  .screen {
    min-height: 100vh;
  }

  @media (max-width: 900px) {
    section.textFirst,
    section.frameFirst,
    section.iconOnTop {
      flex-direction: column;
    }

    section.frameFirst,
    section.iconOnTop {
      flex-direction: column-reverse;
    }

    section.iconOnTop {
      gap: 0;
    }

    .iconOnTop .text {
      padding-top: 0;
    }

    .screen {
      min-height: unset;
      margin: 10vh 0;
    }
  }
</style>
