---
interface Props {
  height?: "screen" | "fitContent";
  placement?: "frameFirst" | "textFirst";
}

const { height = "screen", placement = "textFirst" } = Astro.props;
---

<section class:list={[height, placement]}>
  <div class="text">
    <slot />
  </div>
  <slot name="frame" />
</section>

<style>
  section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10vw;
    justify-content: start;
  }

  .frameFirst {
    flex-direction: row-reverse;
  }

  .screen {
    min-height: 100vh;
  }

  @media (max-width: 900px) {
    section.textFirst,
    section.frameFirst {
      flex-direction: column;
    }

    .screen {
      min-height: unset;
      margin: 10vh 0;
    }
  }
</style>
