---
interface Props {
  href: string;
  align?: "left" | "center";
}

const { href, align = "center" } = Astro.props;
---

<a data-align={align} href={href} target="_blank">
  <slot />
</a>

<style>
  a {
    display: block;
    margin: 10vh auto;
    padding: 12px 22px;
    background-color: #007aff;
    color: white;
    border-radius: 999px;
    text-decoration: none;
    border: none;
    width: fit-content;
  }

  a[data-align="left"] {
    margin: 0;
  }
</style>
