---
import Comments from "../../components/Comments.vue";
import Heading from "../../components/presentations/Heading.astro";
---

<section class="bs-msm-content bento-content">
  <Heading
    title="Mont-Saint-Michel"
    subtitle="Projet en partenariat avec l'UNESCO"
  />
  <Comments githubIssueId={2} client:visible />
</section>

<style>
  section {
    width: 100%;
    padding: 0 var(--navbar-horizontal-padding);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 4vw;
  }

  p {
    margin-bottom: 4vw;
  }

  img {
    height: auto;
    width: 100%;
  }
</style>
