---

---

<section class="bs-msm-content bento-content">
  <h2>Découvrez le Mont-Saint-Michel</h2>
  <p>Projet en partenariat avec l'UNESCO</p>
  <img src="/images/pmf/msm bento.jpg" alt="" />
</section>

<style>
  section {
    width: 100%;
    padding: 0 var(--navbar-horizontal-padding);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 4vw;
  }

  p {
    margin-bottom: 4vw;
  }

  img {
    height: auto;
    width: 100%;
  }
</style>
