---

---

<section class="bs-wagon-content bento-content">
  <h2>Wagon</h2>
  <img src="/images/pmf/wagon small bento.jpg" alt="" />
  <small
    data-footnote="Application uniquement disponible en version bêta sur TestFlight. Nombre de places limitées. La fonctionnalité d'itinéraire est encore en developpement et sera disponible via une mise à jour."
  >
    Certaines fonctionnalités ne sont pas encore disponibles.
  </small>
</section>

<style>
  section {
    width: 100%;
    padding: 0 var(--navbar-horizontal-padding);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 4vw;
    font-size: 8vw;
  }

  img {
    height: auto;
    width: 100%;
  }
</style>
