---
import Layout from "../layouts/Layout.astro";
import LiveDemo from "../sections/Wagon/LiveDemo.astro";
import Testflight from "../sections/Wagon/Testflight.astro";
import Twitter from "../sections/Wagon/Twitter.astro";
import Stats from "../sections/Wagon/Stats.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <header>
    <h1 class="hero-eyebrow">Arno Cellarier</h1>
    <h2 class="headline-super">
      <i>Développeur, et bien plus.</i><br />
      Je donne vie à mes idées,<br /> et aux vôtres.
    </h2>
  </header>

  <LiveDemo />
  <Testflight />
  <Twitter />
  <Stats />
  <Footer />
</Layout>

<style>
  h2,
  h1 {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  i {
    font-style: normal;
    opacity: 0.7;
    font-weight: 400;
  }

  h1 {
    margin-top: 10vh;
  }

  .hero-eyebrow {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: 0em;
  }

  .headline-super {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 400;
    letter-spacing: -0.035em;
  }

  img {
    width: 100%;
    height: auto;
  }
</style>
