---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Swift Student Challenge 2025">
  <section>
    <h1>Ma participation au <br /><mark>Swift Student Challenge</mark> 2025</h1>
  </section>
</Layout>

<style>
  section {
    padding: 0 var(--navbar-horizontal-padding);
    padding-top: 20vh;
  }

  h1 {
    font-size: max(40px, 4vw);
  }

  mark {
    background-color: #ffc089;
  }
</style>
