---
import ReplayIcon from "../icons/replay_FILL0_wght200_GRAD200_opsz20.svg?raw";

interface Props {
  src: string;
  height: string;
}

const { src, height } = Astro.props;
---

<phone-video>
  <video style={"--height:" + height} muted autoplay src={src}></video>
  <button class="hidden">
    <span>Revoir</span>
    <Fragment set:html={ReplayIcon} />
  </button>
</phone-video>

<script>
  class PhoneVideo extends HTMLElement {
    constructor() {
      super();

      const video = this.querySelector("video");
      const button = this.querySelector("button");

      if (!video || !button) {
        throw new Error("Missing video or button element");
      }

      button.addEventListener("click", () => {
        video.currentTime = 0;
        video.play();
        button.classList.add("hidden");
      });

      video.addEventListener("ended", () => {
        button.classList.remove("hidden");
      });
    }
  }

  customElements.define("phone-video", PhoneVideo);
</script>

<style>
  phone-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  video {
    --height: 80vh;
    --border-width: calc(var(--height) * 59 / 2556);
    border-radius: calc(var(--height) * 159 / 2556 + var(--border-width));
    height: 80vh;
    width: auto;
    border: var(--border-width) solid black;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #007aff;
    cursor: pointer;
  }

  button:hover {
    text-decoration: none;
  }

  button.hidden {
    visibility: hidden;
  }

  button :global(svg) {
    width: 1.5rem;
    height: 1.5rem;
    fill: #007aff;
  }
</style>
