---
import { Image } from "astro:assets";
import horizontalDevice from "../images/presentation/website horizontal.png";
import verticalDevice from "../images/presentation/wagon vertical.png";
import syspadScreen from "../images/presentation/syspad.png";
---

<main class="presentation">
  <section class="qbik">
    <div class="header">
      <p role="presentation">Arno Cellarier</p>
    </div>
  </section>
  <section class="elba">
    <p
      data-scroll
      data-scroll-from-height-vh="0"
      data-scroll-to-height-vh="100"
    >
      Je crée des sites web<br />et des applications.
    </p>
    <Image
      data-scroll
      data-scroll-from-height-vh="20"
      data-scroll-to-height-vh="120"
      data-scroll-bezier=".82,.01,.99,.78"
      src={syspadScreen}
      alt="Ecran d'information voyageur type RATP, indiquant la dessserte du prochain train RER B"
    />
  </section>
  <div id="section-anchor1"></div>
  <section
    class="zjir"
    data-scroll
    data-scroll-anchor-from="section-anchor1"
    data-scroll-anchor-to="section-anchor2"
    data-scroll-from-height-vh="-100"
    data-scroll-to-height-vh="-90"
    data-scroll-bezier=".47,.11,.49,.91;.8,.12,.22,.76;1,0,.91,.07;.77,.1,.55,.2"
  >
    <div role="group">
      <p
        data-scroll
        data-scroll-anchor-from="section-anchor1"
        data-scroll-anchor-to="section-anchor2"
        data-scroll-from-height-vh="-100"
        data-scroll-to-height-vh="-50"
      >
        J’accorde une grande importance à l’expérience utilisateur,
      </p>
      <Image
        src={verticalDevice}
        quality={100}
        alt="Application Wagon sur un iPhone 8, avec les prochains départs des bus à proximité"
        data-scroll
        data-scroll-anchor-from="section-anchor1"
        data-scroll-anchor-to="section-anchor2"
        data-scroll-from-height-vh="-100"
        data-scroll-to-height-vh="-100"
        data-scroll-bezier=".11,.86,.54,.96"
      />
    </div>
  </section>
  <div id="section-anchor2"></div>
  <section
    class="zaco"
    data-scroll
    data-scroll-anchor-from="section-anchor2"
    data-scroll-anchor-to="section-anchor3"
    data-scroll-from-height-vh="-100"
    data-scroll-to-height-vh="-100"
    data-scroll-bezier=".47,.11,.49,.91;.8,.12,.22,.76"
  >
    <p>Au design,</p>
  </section>
  <div id="section-anchor3"></div>
  <section
    role="rowgroup"
    class="faca"
    data-scroll
    data-scroll-anchor-from="section-anchor3"
    data-scroll-anchor-to="section-anchor4"
    data-scroll-from-height-vh="-100"
    data-scroll-to-height-vh="-30"
    data-scroll-bezier=".47,.11,.49,.91;.8,.12,.22,.76"
  >
    <div role="group">
      <svg
        role="presentation"
        width="155"
        height="155"
        viewBox="0 0 155 155"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="77.5" cy="77.5" r="77.5" fill="#007AFF"></circle>
        <path
          d="M78 51.9999C75.7083 51.9999 73.7465 51.1839 72.1146 49.552C70.4826 47.9201 69.6667 45.9583 69.6667 43.6666C69.6667 41.3749 70.4826 39.4131 72.1146 37.7812C73.7465 36.1492 75.7083 35.3333 78 35.3333C80.2917 35.3333 82.2535 36.1492 83.8854 37.7812C85.5174 39.4131 86.3333 41.3749 86.3333 43.6666C86.3333 45.9583 85.5174 47.9201 83.8854 49.552C82.2535 51.1839 80.2917 51.9999 78 51.9999ZM65.5 118.667V64.4999C61.3333 64.1527 57.0972 63.6319 52.7917 62.9374C48.4861 62.243 44.3889 61.3749 40.5 60.3333L42.5833 51.9999C48 53.4583 53.7639 54.5173 59.875 55.177C65.9861 55.8367 72.0278 56.1666 78 56.1666C83.9722 56.1666 90.0139 55.8367 96.125 55.177C102.236 54.5173 108 53.4583 113.417 51.9999L115.5 60.3333C111.611 61.3749 107.514 62.243 103.208 62.9374C98.9028 63.6319 94.6667 64.1527 90.5 64.4999V118.667H82.1667V93.6666H73.8333V118.667H65.5Z"
          fill="white"></path>
      </svg>
    </div>
    <div role="row">
      <p>Et à l'accessibilité.</p>
    </div>
  </section>
  <div id="section-anchor4"></div>
</main>

<script>
  import { AnimatedScroll } from "../AnimatedScroll";

  const animatedScroll = new AnimatedScroll();
  const main = document.querySelector("main.presentation");

  const resizeObserver = new ResizeObserver((entries) => {
    animatedScroll.update();
  });

  if (main) {
    resizeObserver.observe(main);
  }
</script>

<style>
  main,
  section {
    perspective: 900px;
  }

  .header p {
    margin: 0;
    opacity: 0.5;
    font-weight: 500;
    font-size: max(12px, 2vw);
    transform: translateY(10vh);
  }

  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-style: preserve-3d;
  }

  section:first-child {
    min-height: 30vh;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    font-size: 11px;
  }

  .header span {
    opacity: 0.6;
  }

  .header a {
    color: inherit;
  }

  p {
    margin: 0;
    font-weight: 500;
    opacity: 1;
    display: block;
  }

  h1,
  p {
    text-align: center;
  }

  [role="group"] {
    display: flex;
    align-items: center;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .elba {
    padding-bottom: 30vh;
  }

  .elba p {
    font-size: max(40px, 7vw);
    transform: rotate3d(1, -1, 0, calc(3deg * var(--progress)));
  }

  .elba img {
    transform: translateY(-10%)
      rotate3d(-1, 0, 0, calc(6deg * (var(--progress) + 0.1)));
  }

  .zjir {
    transform: translateY(calc(80vh * var(--progress) - 75vh));
  }

  .zjir div {
    width: 100%;
    perspective: 900px;
  }

  .zjir p {
    font-size: max(40px, 5vw);
    text-align: left;
    padding-left: 4vw;
    transform-origin: top;
    transform: translateY(calc(var(--progress-2) * -100vh));
    opacity: calc(1 - var(--progress-3));
  }

  .zjir img {
    height: auto;
    width: 50vw;
    transform-origin: bottom right;
    transform: translateY(20vh) translateX(calc(var(--progress-2) * 100vw))
      rotate3d(1, -1, 0, calc(-80deg * var(--progress) + 70deg));
  }

  .zaco {
    position: sticky;
    opacity: var(--progress-1);
    transform-origin: top;
    transform: translateY(calc(var(--progress) * 20vh - 20vh))
      scale(var(--progress));
  }

  .zaco p {
    font-size: max(40px, 10vw);
  }

  .faca {
    align-items: center;
    opacity: calc(var(--progress) * 2);
    transform: translateY(calc(100vh * var(--progress) - 50vh));
  }

  .faca p {
    margin: 1vw 0;
    font-size: max(40px, 8vw);
  }

  .faca small {
    font-size: 2vw;
    color: gray;
  }

  .faca [role="group"] {
    position: relative;
    width: fit-content;
    align-items: end;
    justify-content: center;
  }

  .faca svg {
    width: 10vw;
    height: 10vw;
  }

  .faca svg + small {
    position: absolute;
    bottom: 0;
    left: 100%;
  }

  .faca [role="row"] svg {
    width: 10vw;
    height: 10vw;
    margin-right: 2vw;
  }

  @media (min-width: 900px) {
    .elba {
      margin-bottom: 20vh;
    }

    .zjir {
      margin-bottom: 10vh;
    }

    .zaco {
      margin-bottom: 40vh;
    }

    .faca {
      margin-bottom: 60vh;
    }
  }

  @media (max-width: 899px) {
    section {
      min-height: 60vw;
    }

    section:first-child {
      margin-top: 20vh;
      min-height: 10vh;
    }

    p {
      text-wrap: balance;
    }

    [data-scroll] {
      transform: none !important;
    }

    .zjir [role="group"] {
      flex-direction: column;
      align-items: end;
    }

    .zjir p {
      padding: 2vw;
      text-align: center;
    }

    .zjir img {
      width: 100vw;
      height: 100vw;
      object-fit: cover;
      object-position: 10vw 0px;
    }
  }
</style>
