---

---

<section>
  <footer>
    <ul>
      <li>
        <a href="mailto:bonjour@arnocellarier.fr">bonjour@arnocellarier.fr</a>
      </li>
      <li><a href="">Linkedin</a></li>
      <li><a href="">Github</a></li>
    </ul>
    <ul role="definition"></ul>
  </footer>

  <script>
    const footnotes = document.querySelectorAll<HTMLElement>("[data-footnote]");
    const footnotesList =
      document.querySelector<HTMLUListElement>("[role=definition]");

    function appendFootnoteIndicator(inside: HTMLElement, id: number): void {
      const indicator = document.createElement("sup");
      indicator.innerHTML = `<a href="#footnote-${id}">${id + 1}</a>`;
      inside.appendChild(indicator);
    }

    function addFootnoteLink(
      footnote: HTMLElement,
      text: string,
      id: number
    ): void {
      const note = document.createElement("span");
      note.textContent = text;
      note.id = `footnote-${id}`;

      const indice = document.createElement("sup");
      indice.textContent = `${id + 1}`;

      const listItem = document.createElement("li");
      listItem.appendChild(indice);
      listItem.appendChild(note);
      footnotesList?.appendChild(listItem);
    }

    footnotes.forEach((footnote, id) => {
      if (footnotesList == undefined) {
        return;
      }

      appendFootnoteIndicator(footnote, id);
      addFootnoteLink(footnote, footnote.dataset.footnote!, id);
    });
  </script>
</section>

<style>
  footer {
    padding: 32px 0;
    margin: 32px var(--navbar-horizontal-padding);
    border-top: 2px solid #ddd;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
  }

  li {
    font-size: min(2vw, 1rem);
  }

  li a {
    color: unset;
    text-decoration: dotted underline;
  }

  [role="definition"] {
    margin-top: 32px;
    color: gray;
    font-size: 11px;
  }
</style>
