---
import Card from "../layouts/Card.astro";
---

<section>
  <Card>
    <a href="mailto:bonjour@arnocellarier.fr">
      <svg
        width="73"
        height="94"
        viewBox="0 0 73 94"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M33.5034 64.3982C33.5034 71.4105 33.5034 78.4227 33.5034 85.435C33.5034 86.3352 32.877 90.8215 34.0834 90.8489C37.3737 90.9237 40.6392 91.0512 43.9251 91.1776C45.4759 91.2372 52.9933 92.4639 52.9933 89.7274C52.9933 82.7925 52.9933 75.8576 52.9933 68.9227"
          stroke="#007AFF"
          stroke-width="4"
          stroke-linecap="round"></path>
        <path
          d="M33.5034 72.7511H44.6405"
          stroke="#007AFF"
          stroke-width="4"
          stroke-linecap="round"></path>
        <path
          d="M34.1997 78.3196H47.077"
          stroke="#007AFF"
          stroke-width="4"
          stroke-linecap="round"></path>
        <path
          d="M33.8516 84.9323C38.5064 84.9323 43.1748 85.6284 47.773 85.6284"
          stroke="#007AFF"
          stroke-width="4"
          stroke-linecap="round"></path>
        <path
          d="M28.631 67.1825C26.9567 66.8477 24.579 63.5845 23.6232 62.31C21.9235 60.0438 19.9705 57.6754 18.9634 55.0013C16.8931 49.5045 15.9189 41.8219 18.1899 36.2074C24.2962 21.1113 47.2062 14.5237 60.8242 22.8274C67.1442 26.6811 69.6353 32.2228 70.5692 39.3204C71.1792 43.9564 71.0556 49.1617 69.5058 53.5898C68.3719 56.8294 65.5189 59.1921 63.6278 61.9427C62.8662 63.0505 61.4539 64.1179 60.4955 65.0943C58.9113 66.7084 57.3778 68.3667 55.7777 69.9668"
          stroke="#007AFF"
          stroke-width="4"
          stroke-linecap="round"></path>
        <path
          d="M47.4248 28.8987C53.8394 28.8987 57.6353 31.2805 58.4072 38.0249C58.8039 41.4907 58.91 45.0183 58.91 48.5046C58.91 49.117 59.1161 49.8517 58.5619 50.1288"
          stroke="#007AFF"
          stroke-width="4"
          stroke-linecap="round"></path>
        <path
          d="M11.9252 32.379C8.46443 32.2597 5.26963 30.2889 2.18018 28.8987"
          stroke="#007AFF"
          stroke-width="4"
          stroke-linecap="round"></path>
        <path
          d="M20.6263 23.3301C20.3528 21.507 18.5951 19.7134 17.6873 18.1482C16.9837 16.9351 16.2452 15.7485 15.4058 14.6292"
          stroke="#007AFF"
          stroke-width="4"
          stroke-linecap="round"></path>
        <path
          d="M38.376 2.09998V16.7174"
          stroke="#007AFF"
          stroke-width="4"
          stroke-linecap="round"></path>
      </svg>
      <strong>Une idée, un projet ? Parlons-en.</strong>
      <p>
        Que diriez-vous de transformer vos idées en réalité numérique ? Je peux
        vous conseiller et vous aider pour tous vos projets d'applications web
        et mobile, sur les aspects techniques, le design et l'experience
        utilisateur.
      </p>
      <span>Par e-mail &gt;</span>
    </a>
  </Card>
  <footer>
    <strong>Mes liens</strong>
    <ul>
      <li>
        <a href="">Linkedin</a>
        <a href="">Github</a>
      </li>
    </ul>
  </footer>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    padding: 20vh 0;
  }

  strong {
    display: block;
    font-size: 2rem;
  }

  svg {
    margin-bottom: 36px;
  }

  a {
    text-align: center;
    color: unset;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    max-width: 500px;
    opacity: 0.7;
  }

  a span {
    color: #007aff;
  }

  a:hover span {
    text-decoration: underline;
  }

  footer {
    padding: 56px 15vw;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }
</style>
