---
import NotificationsSwitch from "../components/NotificationsSwitch.vue";
---

<section>
  <footer>
    <label>
      <NotificationsSwitch client:idle />
      <div>
        <p>Vous aimez mon travail ?</p>
        <span>
          Activez les notifications pour être au courant des nouveautés
          apportées à mon portfolio. Pas plus de 3 à 4 notifications par an.
        </span>
      </div>
    </label>
    <ul role="definition"></ul>
    <ul class="links">
      <li>Arno Cellarier — Développeur</li>
      <li>
        <a class="privacy-email" href="mailto:bonjour@arnocellarier.fr"
          >bonjour@arnocellarier.fr</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/arno-cellarier/">
          Linkedin
        </a>
      </li>
      <li><a target="_blank" href="https://github.com/arnoclr">Github</a></li>
    </ul>
  </footer>

  <script>
    const footnotes = document.querySelectorAll<HTMLElement>("[data-footnote]");
    const footnotesList =
      document.querySelector<HTMLUListElement>("[role=definition]");

    function appendFootnoteIndicator(inside: HTMLElement, id: number): void {
      const indicator = document.createElement("sup");
      indicator.innerHTML = `<a href="#footnote-${id}">${id + 1}</a>`;
      inside.appendChild(indicator);
    }

    function addFootnoteLink(
      footnote: HTMLElement,
      text: string,
      id: number
    ): void {
      const note = document.createElement("span");
      note.textContent = text;
      note.id = `footnote-${id}`;

      const indice = document.createElement("sup");
      indice.textContent = `${id + 1}`;

      const listItem = document.createElement("li");
      listItem.appendChild(indice);
      listItem.appendChild(note);
      footnotesList?.appendChild(listItem);
    }

    footnotes.forEach((footnote, id) => {
      if (footnotesList == undefined) {
        return;
      }

      appendFootnoteIndicator(footnote, id);
      addFootnoteLink(footnote, footnote.dataset.footnote!, id);
    });
  </script>
</section>

<style>
  footer {
    padding: 32px 0;
    margin: 32px var(--navbar-horizontal-padding);
    border-top: 2px solid rgba(200, 200, 200, 0.2);
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
  }

  label {
    cursor: pointer;
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  label:hover {
    background-color: rgba(155, 155, 155, 0.1);
    box-shadow: 0 0 0 16px rgba(155, 155, 155, 0.1);
    border-radius: 16px;
  }

  label p {
    margin: 0;
  }

  label span {
    max-width: 60ch;
  }

  label div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  li a {
    color: unset;
    text-decoration: dotted underline;
  }

  [role="definition"] {
    margin-top: 32px;
    color: gray;
    font-size: 11px;
  }

  span {
    opacity: 0.6;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    opacity: 0.6;
  }

  @media (max-width: 768px) {
    .links {
      flex-direction: column;
    }
  }
</style>
