---
import Heading from "../components/presentations/Heading.astro";
import Video from "../components/Video.astro";
import kppScrollingDemo from "../videos/kpp scrolling.webm";
import shareImageDark from "../images/kpp/dark/share.png";
import DeviceFrameSection from "../components/presentations/DeviceFrameSection.astro";
import { Image } from "astro:assets";
import { ImageSizePreset } from "../utils/images";
import Comments from "../components/Comments.vue";
---

<Heading title="KPP Maker" subtitle="Créez vos girouettes pour OMSI 2." />
<Video
  src={kppScrollingDemo}
  width="calc(100vw - var(--navbar-horizontal-padding) * 2)"
  frame="iPad10"
/>
<DeviceFrameSection>
  <h3>Partagez les avec<br /> un simple lien.</h3>
  <p>
    Générez un lien que vous pouvez réouvrir à tout moment sur n'importe quel
    appareil.
  </p>
  <Image
    slot="frame"
    class:list={[ImageSizePreset.ThreePhonesOrTablet]}
    src={shareImageDark}
    alt=""
  />
</DeviceFrameSection>
<Comments githubIssueId={4} client:visible />
<!-- TODO: ajouter le linkedin d'Adam -->
