---

---

<section>
  <h2>Mes sites web</h2>
  <ul>
    <li>
      <a href="/decouvrez-le-mont-saint-michel">
        Découvrez le Mont-Saint-Michel
      </a>
    </li>
    <li>
      <a href="/chercher-des-theses-soutenues-en-france">
        Cherchez des thèses soutenues en France
      </a>
    </li>
    <li>
      <a href="/editeur-de-girouettes-omsi2">
        Créez des girouettes colorées, avec messages alternants et défilants
        pour OMSI 2
      </a>
    </li>
    <li>
      <a href="/omsistuff-repaints-pour-omsi2">
        Publiez ou cherchez des repaints pour OMSI 2
      </a>
    </li>
  </ul>
</section>

<style>
  section {
    padding: 0 var(--navbar-horizontal-padding);
  }

  h2 {
    font-size: 4vh;
    margin-top: 10vh;
    opacity: 0.4;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 1.2vw 0;
    font-size: max(24px, 3vw);
  }

  li:not(:last-child) {
    border-bottom: 1px solid rgba(155, 155, 155, 0.2);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
