---
import { Image } from "astro:assets";
import presentationImage from "../images/omsistuff/phone ipad.png";
import discoverImage from "../images/omsistuff/discover.png";
import loginImage from "../images/omsistuff/login.png";
import reviewsImage from "../images/omsistuff/reviews.png";
---

<section class="bs-omsistuff-content bento-content">
  <h2>Omsistuff</h2>
  <p>Librairie de repaints pour OMSI 2.</p>
  <Image src={presentationImage} alt="" />
  <a
    href="https://omsistuff.fr/heuliez-bus-gx337-g-new-face/la-metropole-mobilite-transdev-alpilles-berre-mediterranee/952?ref=copy_url&ref_label=from_unknow_user&ref_value=0#comments-section"
  >
    <small
      >La Métropole Mobilité - Transdev Alpilles Berre Méditerranée - Heuliez
      Bus GX337 G New Face</small
    >
  </a>
  <h3 style="margin-top: 20vh;">Plusieurs manières de découvrir.</h3>
  <p>
    Vous pouvez trouver des repaints via la carte du monde, les suggestions en
    page d'accueil ou les résultats de recherche Google.
  </p>
  <Image src={discoverImage} alt="" />
  <div role="rowgroup">
    <div>
      <h3>Connexion en un clic</h3>
      <p>
        Entrez votre adresse e-mail, et recevez le lien de connexion dans votre
        boite mail.
      </p>
    </div>
    <Image style="height: 80vh; width: auto;" src={loginImage} alt="" />
  </div>
  <h3>Des vrais avis,<br /> pour vous aider à choisir.</h3>
  <div role="rowgroup" style="gap: 5vw; height: unset;">
    <p>
      Notez chacun des repaints après les avoir testés, et consultez les avis.
      L'algorithme pondère les avis selon plusieurs facteurs pour faire
      ressortir les avis pertinents.
    </p>
    <Image style="height: auto; width: 70%;" src={reviewsImage} alt="" />
  </div>
  <h3 style="margin-top: 20vh; text-align: center;">Une communauté active</h3>
  <div role="rowgroup" class="numbers">
    <p>
      <span>17.4k</span>
      <span data-footnote="Données pour février 2023.">Visites par mois</span>
    </p>
    <p>
      <span>250</span>
      <span>créations postées en 2023</span>
    </p>
    <p>
      <span>900</span>
      <span>membres au total</span>
    </p>
  </div>
  <a
    class="button open"
    target="_blank"
    href="https://omsistuff.fr/?ref=arno.cl"
  >
    Visiter le site
  </a>
</section>

<style>
  section {
    width: 100%;
    padding: 0 var(--navbar-horizontal-padding);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: max(20px, 5vw);
  }

  h3 {
    font-size: max(18px, 4vw);
  }

  small {
    padding-left: 3vw;
  }

  p {
    font-size: 2vw;
    margin-bottom: 4vw;
    opacity: 0.7;
  }

  img {
    height: auto;
    width: 100%;
  }

  .numbers span:first-child {
    color: #22a569;
  }

  .open {
    display: block;
    margin: 10vh auto;
  }
</style>
