---

---

<section>
  <h2 id="projets">Projets</h2>
  <ul>
    <li>
      <a href="/prendre-les-transports-avec-wagon">Wagon</a>
    </li>
    <li>
      <a href="/decouvrez-le-mont-saint-michel">Mont-Saint-Michel</a>
    </li>
    <li>
      <a href="/omsistuff-repaints-pour-omsi2">Omsistuff</a>
    </li>
  </ul>
</section>

<style>
  section {
    padding: 0 var(--navbar-horizontal-padding);
  }
</style>
