---
import Heading from "../components/presentations/Heading.astro";
---

<section class="bs-theses-content bento-content">
  <Heading title="Thèses" subtitle="Recherchez, comparez, soyez alerté." />
  <img class="for-light-mode" src="/images/pmf/theses ipad phone.png" alt="" />
  <img
    class="for-dark-mode"
    src="/images/pmf/theses ipad phone dark.png"
    alt=""
  />
</section>

<style>
  section {
    width: 100%;
    padding: 0 var(--navbar-horizontal-padding);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 5vw;
  }

  p {
    font-size: 2vw;
    margin-bottom: 4vw;
    opacity: 0.7;
  }

  img {
    height: auto;
    width: 100%;
  }
</style>
