---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <script>
      import LocomotiveScroll from "locomotive-scroll";

      new LocomotiveScroll();
    </script>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Script";
    src: url("/fonts/Just_Another_Hand/JustAnotherHand-Regular.ttf");
  }

  @font-face {
    font-family: "Body";
    src: url("/fonts/Arial Rounded MT Bold Regular/Arial Rounded MT Bold Regular.ttf");
  }

  body,
  html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Body", sans-serif;
  }

  [data-footnote] sup a {
    font-size: 0.3em;
    color: gray;
    vertical-align: super;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #000;
      color: #fff;
    }
  }
</style>
