---
import MessageBubble from "../components/MessageBubble.astro";
import { projects } from "../projects";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <div class="left">
        <span>Arno Cellarier</span>
        <ul>
          <li>
            <a href="/">Mes projets</a>
          </li>
          <li>
            <a href="/swift-student-challenge-2025">
              Swift Student Challenge 2025
            </a>
          </li>
          <li>
            <a href="/outils"> Outils pour les développeurs</a>
          </li>
        </ul>
      </div>
      <ul>
        <li>
          <a target="_blank" href="https://cdn1.arno.cl/2024/03/CV%202024.pdf">
            Lire mon CV
          </a>
        </li>
        <li>
          <a
            href="mailto:bonjour@arnocellarier.fr"
            class="bubble"
            id="contact-bubble"
          >
            <MessageBubble>Hey ! On discute ?</MessageBubble>
          </a>
        </li>
      </ul>
    </nav>

    <slot />
  </body>
  <script>
    import { getTrackingID, addCopyUrlSourceInUrl } from "../utils/tracking";

    const contactBubble = document.getElementById("contact-bubble");
    contactBubble?.setAttribute(
      "href",
      `mailto:bonjour.${getTrackingID()}@arno.cl`
    );

    addCopyUrlSourceInUrl();
  </script>
</html>

<style>
  :root {
    --navbar-horizontal-padding: 10vw;
  }

  nav {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    padding: 0 var(--navbar-horizontal-padding);
    background-color: #fefefee7;
    border-bottom: 1px solid #eee;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 99;
  }

  nav span {
    color: gray;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: baseline;
    gap: 16px;
  }

  nav a {
    text-decoration: none;
    color: unset;
  }

  nav a:not(.bubble):hover {
    text-decoration: underline;
  }

  nav .left {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  nav .left ul {
    gap: 1rem;
  }

  .bubble {
    display: block;
    transform: scale(1) rotate(0deg);
    transition: transform 0.2s ease;
    transform-origin: right;
  }

  .bubble:hover {
    transform: scale(1.03) rotate(1deg);
  }

  @media (max-width: 580px) {
    :root {
      --navbar-horizontal-padding: 23px;
    }

    nav {
      gap: 8px;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      background-color: white;
    }

    nav ul {
      margin-left: auto;
    }

    nav span {
      font-size: small;
    }
  }

  @media (prefers-color-scheme: dark) {
    nav {
      background-color: #000b;
      border-color: #222;
    }
  }

  @media (prefers-color-scheme: dark) and (max-width: 580px) {
    nav {
      background-color: #000;
    }
  }
</style>

<style is:global>
  @font-face {
    font-family: "Body";
    src: url("/fonts/Arial Rounded/ARIALROUNDEDMT.TTF");
    font-weight: 400;
  }

  @font-face {
    font-family: "Body";
    src: url("/fonts/Arial Rounded/Arial Rounded MT Bold Regular.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "Body";
    src: url("/fonts/Arial Rounded/ARIALROUNDEDMTEXTRABOLD.TTF");
    font-weight: 800;
  }

  body,
  html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Body", sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  [data-footnote] sup a {
    font-size: max(11px, 0.3em);
    color: gray;
    vertical-align: super;
  }

  .bento-content [role="rowgroup"] {
    height: 120vh;
    gap: 20vw;
    display: flex;
    align-items: center;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .threePhonesOrTablet {
    min-width: 60%;
    height: auto;
  }

  .singlePhone {
    width: auto;
    height: 80vh;
  }

  .tabletAndPhone {
    width: 100%;
    height: auto;
  }

  @keyframes appearWithBlur {
    from {
      transform-origin: top;
      opacity: 0;
      filter: blur(14px);
      transform: scale(1.03);
    }
    80% {
      opacity: 1;
    }
    to {
      transform-origin: top;
      filter: blur(0);
      transform: scale(1);
    }
  }

  @media (max-width: 900px) {
    .threePhonesOrTablet {
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    .tabletAndPhone {
      height: 40vh;
      width: 100%;
      object-fit: cover;
      transform: scale(1.2);
      margin: 5vh 0;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #000;
      color: #fff;
    }

    .for-light-mode {
      display: none;
    }
  }

  @media (prefers-color-scheme: light) {
    .for-dark-mode {
      display: none;
    }
  }
</style>
