---
import MessageBubble from "../components/MessageBubble.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <span>Arno Cellarier</span>
      <ul>
        <li>
          <a href="#">Lire mon CV</a>
        </li>
        <li>
          <a href="#">
            <MessageBubble>Hey ! On discute ?</MessageBubble>
          </a>
        </li>
      </ul>
    </nav>

    <slot />

    <script>
      import LocomotiveScroll from "locomotive-scroll";

      new LocomotiveScroll();
    </script>
  </body>
</html>

<style>
  :root {
    --navbar-horizontal-padding: 10vw;
  }

  nav {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    padding: 0 var(--navbar-horizontal-padding);
    background-color: #fefefee7;
    border-bottom: 1px solid #eee;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 99;
  }

  nav span {
    color: gray;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: baseline;
    gap: 16px;
  }

  nav a {
    text-decoration: none;
    color: unset;
  }

  @media (max-width: 580px) {
    :root {
      --navbar-horizontal-padding: 12px;
    }

    nav {
      gap: 8px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    nav ul {
      margin-left: auto;
    }

    nav span {
      font-size: small;
    }
  }

  @media (prefers-color-scheme: dark) {
    nav {
      background-color: #000b;
      border-color: #222;
    }
  }
</style>

<style is:global>
  @font-face {
    font-family: "Script";
    src: url("/fonts/Just_Another_Hand/JustAnotherHand-Regular.ttf");
  }

  @font-face {
    font-family: "Body";
    src: url("/fonts/Arial Rounded MT Bold Regular/Arial Rounded MT Bold Regular.ttf");
  }

  body,
  html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Body", sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  [data-footnote] sup a {
    font-size: max(11px, 0.3em);
    color: gray;
    vertical-align: super;
  }

  [role="rowgroup"] {
    height: 120vh;
    gap: 20vw;
    display: flex;
    align-items: center;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #000;
      color: #fff;
    }

    .for-light-mode {
      display: none;
    }
  }

  @media (prefers-color-scheme: light) {
    .for-dark-mode {
      display: none;
    }
  }

  .button {
    padding: 12px 22px;
    background-color: #007aff;
    color: white;
    border-radius: 999px;
    text-decoration: none;
    border: none;
    width: fit-content;
  }
</style>
